<div class="container">
    <div class="row">
      <div class="col">
        <h1 class="notfound text-center">404</h1>
        <br />
        <p class="m-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
          quas aspernatur a corporis culpa repudiandae sed quasi voluptate impedit
          natus odit laborum, quaerat autem consequuntur iste numquam pariatur
          iure nesciunt!
        </p>
        <h5 class="text-center">Not Found</h5>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQS8EiNGXhAQZ4HcNcgGYvB8sQhAMR6Ho-t0A&usqp=CAU"
          alt=""
          class="pagenotfound mx-auto"
        />
      </div>
    </div>
  </div>